@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;500;700&display=swap');

:root {
    /*font- varients*/
    /* Large Devices */
    --H1: 700 65px/70px 'Playfair Display', serif;
    --H2: 700 55px/48px 'Playfair Display', serif;
    --H3: 700 38px/42px 'DM Sans', sans-serif;
    --H4: 500 28px/32px 'DM Sans', sans-serif;
    --H5: 500 22px/27px 'DM Sans', sans-serif;
    --H6: 500 18px/26px 'DM Sans', sans-serif;
    --others: 400 17px/28px 'Poppins', sans-serif;
    --text-base: 400 16px/24px 'Poppins', sans-serif;

    /*Tablet Devices*/
    --H1-lg: 700 52px/58px 'Playfair Display', serif;
    --H2-lg: 700 46px/50px 'Playfair Display', serif;
    --H3-lg: 700 65px/42px 'DM Sans', sans-serif;
    --H4-lg: 500 28px/32px 'DM Sans', sans-serif;
    --H5-lg: 500 22px/27px 'DM Sans', sans-serif;
    --H6-lg: 500 18px/26px 'DM Sans', sans-serif;
    --others-lg: 400 17px/28px 'Poppins', sans-serif;
    --text-base-lg: 400 16px/24px 'Poppins', sans-serif;

    /*Tablet Devices*/
    --H1-sm: 700 44px/46px 'Playfair Display', serif;
    --H2-sm: 700 36px/44px 'Playfair Display', serif;
    --H3-sm: 700 28px/38px 'DM Sans', sans-serif;
    --H4-sm: 500 24px/22px 'DM Sans', sans-serif;
    --H5-sm: 500 20px/18px 'DM Sans', sans-serif;
    --H6-sm: 500 17px/26px 'DM Sans', sans-serif;
    --others-sm: 400 16px/28px 'Poppins', sans-serif;
    --text-base-sm: 400 15px/24px 'Poppins', sans-serif;

    /*Color plates Dark*/
    --color-primary: #000;
    --color-primary2: #fff;
    --color-secondary: #CF0A0A;
    --text-base-color: #c9c9c9;
    --borderColor: #b2becd;
    --headingColor: #fcfcfc;
    --anchorColor: #ddd6d6;
    --anchorHoverColor: #fdfbfb;
    --anchorHoverBGColor: #333;
    --box-shadow-2: 0px 0px 18px 1px rgba(167, 34, 34, 0.75);
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

/*Color plates light*/
.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #FF6E31;
    --text-base-color: #111;
    --borderColor: #6c7983;
    --headingColor: #12181b;
    --anchorColor: #d44508c9;
    --anchorHoverColor: #d44508;
    --box-shadow-1: 0px 0px 20px 1px rgba(255, 139, 19, 0.75);
    --box-shadow-2: 2px 2px 10px 2px rgba(249, 148, 29, 0.75);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font: 400 16px/25px 'Poppins', sans-serif;
    background-color: #030303;
    color: var(--text-base-color);
    overflow-x: hidden;
    outline: none;
}

h1 {
    font: var(--H1);
}

h2 {
    font: var(--H2);
}

h3 {
    font: var(--H3);
}

h4 {
    font: var(--H4);
}

h5 {
    font: var(--H5);
}

h6 {
    font: var(--H6);
}

p {
    font: var(--text-base);
    color: var(--text-base-color);
}

a {
    color: var(--anchorColor);
    text-decoration: none;
    outline: none;
}

a:hover {
    color: var(--anchorHoverColor);
    transition: all .2s ease-in-out;
}

a,
li {
    font: var(--others);
    text-transform: capitalize;
}

li {
    list-style: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.content-container {
    width: 1200px;
    margin: 0 auto;
}
.head-text{
    text-transform: uppercase;
    color: var(--color-primary2);
}
.head-text span{
    color: var(--color-secondary);
}
@media screen and (max-width:1120px) {}

@media screen and (max-width:630px) {}

@media screen and (max-width:660px) and (min-width: 340px) {
    h1 {
        font: var(--H1-sm);
    }

    h2 {
        font: var(--H2-sm);
    }

    h3 {
        font: var(--H3-sm);
    }

    h4 {
        font: var(--H4-sm);
    }

    h5 {
        font: var(--H5-sm);
    }

    h6 {
        font: var(--H6-sm);
    }

    p {
        font: var(--text-base-sm);
        color: var(--text-base-color);
    }

    a {
        color: var(--anchorColor);
        text-decoration: none;
        outline: none;
    }
}